
[data-md-color-scheme="slate"] {
  --md-hue: 200; /* [0, 360] */
}


.md-grid {
  max-width: 1500px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center }
.centered p {
  margin-right: 0;
  margin-left: 0; }

/* 
Progress bar
*/
.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff;
  }
  
  .progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #eeeeee;
    position: relative;
  }
  
  .progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
  }
  
  .progress.thin .progress-label {
    margin-top: -0.4rem;
  }
  
  .progress.thin .progress-bar {
    height: 0.4rem;
  }
  
  .progress-100plus .progress-bar {
    background-color: #00e676;
  }
  
  .progress-80plus .progress-bar {
    background-color: #fbc02d;
  }
  
  .progress-60plus .progress-bar {
    background-color: #ff9100;
  }
  
  .progress-40plus .progress-bar {
    background-color: #ff5252;
  }
  
  .progress-20plus .progress-bar {
    background-color: #ff1744;
  }
  
  .progress-0plus .progress-bar {
    background-color: #f50057;
  }

/*
Tabbed
*/

  .tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  
  .tabbed-set .highlight {
    background: #ddd;
  }
  
  .tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
  }
  
  .tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 120%;
    cursor: pointer;
  }
  
  .tabbed-set input {
    position: absolute;
    opacity: 0;
  }
  
  .tabbed-set input:nth-child(n+1) {
    color: #333333;
  }
  
  .tabbed-set input:nth-child(n+1):checked + label {
      color: #FF5252;
  }
  
  .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
      display: block;
  }


/* 
Task list
*/
.markdown-body .task-list-item {
    list-style-type: none !important;
  }
  
  .markdown-body .task-list-item input[type="checkbox"] {
    margin: 0 4px 0.25em -20px;
    vertical-align: middle;
  }
  
  .markdown-body .task-list-control {
    display: inline; /* Ensure label is inline incase theme sets it to block.*/
  }
  
  .markdown-body .task-list-control {
    position: relative;
    display: inline-block;
    color: #555;
    cursor: pointer;
  }
  
  .markdown-body .task-list-control input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }
  
  .markdown-body .task-list-indicator {
    position: absolute;
    top: -8px;
    left: -18px;
    display: block;
    width:  14px;
    height: 14px;
    color: #eee;
    background-color: #eee;
    border-radius: .25rem;
  }
  
  .markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
    display: block;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 1;
    content: "✔";
    color: #1EBB52;
  }

  /*
  Admonition
  */
  .md-typeset .admonition,
.md-typeset details {
  position: relative;
  box-shadow:
    0   0.2rem  0.5rem rgba(0,0,0,.05),
    0 0.025rem 0.05rem rgba(0,0,0,.15)
}


/* Admonition and details on hover */
.md-typeset .admonition:hover,
.md-typeset details:hover {
  box-shadow:
    0   0.4rem  1.0rem rgba(0,0,0,.10),
    0 0.025rem 0.05rem rgba(0,0,0,.15)
}

/* Details in closed state */
.md-typeset details:not([open]) {
  transition-duration: 0s;
  box-shadow: none;
}

/* Details title in closed state */
.md-typeset details:not([open]) > summary {
  border-radius: 1rem;
}

/* Admonition title */
.md-typeset .admonition-title {
  padding-right: 1rem;
}

/* Admonition and details title */
.md-typeset .admonition-title,
.md-typeset summary {
  position: relative;
  display: inline-block;
  margin-left: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 1rem;
  border-left: none;
}